<div class="row">
	<aside class="span4">
		<section>
			<h1><%= I18n.t('locations') %></h1>
		</section>
		<section>
			<%= render 'shared/locations' %>
		</section>
	</aside>
	<aside class="span8">
		<section>
			<h1><%= I18n.t('onTreatment') %></h1>
		</section>
		<section>
			<%= render 'shared/onTreatment_patients' %>
		</section>
		<br />
		<section>
			<h1><%= I18n.t('patients') %></h1>
		</section>
		<section>
			<%= render 'shared/patients' %>
		</section>
	</aside>
</div>

