<div class="m10 right">
<span><%= link_to(I18n.t('new'),'/patients/new') %>&nbsp;</span>
<span><%= link_to(I18n.t('more'),'/patients') %>>></span>
</div>
<% if (!@patients.nil?) && @patients.any? %>
	<table class="table">
		<tr>
		<td>NO.</td>
		<td>MR</td>
		<td>Name</td>
		<td>Status</td>
		<td>ViewCount</td>
		</tr>
		<% @patients.each_with_index do |patient, i | %>
		<tr>
			<td><%= i+1 %></td>
			<td><%= "MR"+"0"*(6-patient.id.to_s.length)+patient.id.to_s %></td>
			<td><%= link_to patient.last_name+', '+patient.first_name+' '+patient.middle_name, "patients/#{patient.id}" %></td>
			<td><%= patient.status %></td>
			<td><%= patient.viewed_count %></td>
		</tr>
		<% end %>
	</table>
<% else %>
	<div> patients is null </div>
<% end %>