<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="span4 offset4">
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %>
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :birth %>
    <%= f.date_select :birth %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :location_id %>
    <%= f.number_field :location_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<div class="clear"></div>
<% end %>
